<%= form_with(
  model: ['cms', post],
  local: true,
  class: 'post__form',
  data: { controller: 'form-validation-error' }
) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <% post.errors.messages.each do |attribute, error_messages| %>
        <div
          data-target="form-validation-error.error"
          data-error-attribute="<%= attribute %>"
        >
          <% error_messages.each do |error_message| %>
            <div data-error-message="<%= error_message %>"></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render 'shared/invalid_feedback' %>
  <% end %>

  <br />

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.collection_select(
          :category_id,
          Category.all, :id, :title,
          {prompt: "Select Category"},
          class: "form-control w-25",
          data: {
            target: 'form-validation-error.attribute',
            form_attribute: 'category'
          }
    )%>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field(
      :title,
      class: "form-control",
      data: {
        target: 'form-validation-error.attribute',
        form_attribute: 'title'
      }
    ) %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.rich_text_area(
      :content,
      class: 'form-control',
      data: {
        target: 'form-validation-error.attribute',
        form_attribute: 'content'
      }
    ) %>
  </div>

  <div class="form-group">
    <%= form.label :tags %>
    <%= form.text_field(
      :tag_list,
      class: "form-control",
      data: {
        target: 'form-validation-error.attribute',
        form_attribute: 'tags'
      }
    ) %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
