<% if @post.draft? %>
  <%= render partial: 'cms_sidebar_posts', locals: { status: 'draft' }%>
<% else %>
  <%= render partial: 'cms_sidebar_posts', locals: { status: 'published' }%>
<% end %>

<div data-controller='toggle-attachments'>
  <div class="post row">
    <div class="post__controls mb-4">
      <% if policy([:cms, @post]).publish? %>
        <%= button_to 'Publish',
          publish_cms_post_path(@post),
          method: :patch,
          params: { post: { publication_state: 'finished' } },
          class: 'btn btn-success'
        %>
      <% end %>
      <% if @post.finished? %>
        <% if @post.members? %>
          <%= button_to 'Broadcast Post to Visitors',
            cast_cms_post_path(@post),
            method: :patch,
            params: { post: { visibility_state: 'visitors' } },
            class: 'btn btn-success'
          %>
        <% elsif @post.visitors? %>
          <%= button_to 'Narrowcast to Members',
            cast_cms_post_path(@post),
            method: :patch,
            params: { post: { visibility_state: 'members' } },
            class: 'btn btn-success'
          %>
        <% end %>
      <% end %>
    </div>

    <div class="post__header pod col-12 rounded shadow-sm pb-0">
      <h1 class="post__header-title mb-4"><%= @post.title %></h1>

      <div class="my-3">
        <span class="text-capitalize badge badge-info">
          <%= @post.category.title %>
        </span>
        &#8226;
        <span class="post__info_published_at">
          <% if @post.draft? %>
            <span data-toggle="tooltip" title="Date of creation">
              <%= @post.created_at.strftime("%d %B %Y") %>
            </span>
          <% else %>
            <span data-toggle="tooltip" title="Date of publication">
              <%= @post.published_at.strftime("%d %B %Y") %>
            </span>
          <% end %>
        </span>
      </div>
    </div>

    <div class="post__content pod col-12 rounded shadow-sm">
      <%= @post.content %>

      <p class="post__content-tags mt-5 mb-0">
        <% @post.tags.each do |tag| %>
          <mark class="mr-1 text-primary">#<%= "#{tag.name}" %></mark>
        <% end %>
      </p>
    </div>

    <div class="post__controls pod col-12 rounded shadow-sm 
                d-flex justify-content-between">
      <% if @post.documents.any? %>
        <div>
          <%= link_to '#',
                      class: 'btn btn-primary',
                      data: {
                        action: 'toggle-attachments#toggleAttachments' + ' ' + 
                                 'toggle-attachments#toggleMessage',
                        target: 'toggle-attachments.message'
                      } do
          %>
            Show <%= pluralize(@post.documents.count, 'Attachment') %>
          <% end %>
        </div>
      <% end %>
      <div class="btn-group">
        <%= link_to 'Edit',
                    edit_cms_post_path(@post),
                    class: "btn btn-outline-primary"
        %>
        <%= link_to 'Manage attachments',
          post_documents_path(@post),
          class: "btn btn-outline-primary"
        %>
      <%= link_to 'Back', cms_posts_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>

  <div class="post__attachments" data-target="toggle-attachments.attachments">
    <div class="row d-flex justify-content-between justify-content-lg-start">
      <%= render partial: 'documents/document', collection: @post.documents %>
    </div>
  </div>
</div>
