<div data-controller='toggle-attachments'>
  <div class="post row">
    <% if policy([:cms, @post]).publish? %>
      <div class="post__controls mb-4">
        <%= button_to 'Publish',
          publish_cms_post_path(@post),
          method: :patch,
          params: { post: { publication_state: 'finished' } },
          class: 'btn btn-success'
        %>
      </div>
    <% end %>

    <div class="post__header pod col-12 rounded shadow-sm pb-0">
      <h1 class="post__header-title mb-4"><%= @post.title %></h1>

      <p>
      <strong>Category</strong>: <%= @post.category.title %><br>
      <% if @post.draft? %>
        <strong>Created:</strong> <%= @post.created_at.strftime("%d %B %Y") %>
      <% else %>
        <strong>Published:</strong> <%= @post.published_at.strftime("%d %B %Y") %>
      <% end %>
      </p>
    </div>

    <div class="post__content pod col-12 rounded shadow-sm">
      <%= @post.content %>

      <p class="post__content-tags mt-5 mb-0">
        <% @post.tags.each do |tag| %>
          <mark class="mr-1 text-primary">#<%= "#{tag.name}" %></mark>
        <% end %>
      </p>
    </div>

    <div class="post__controls pod col-12 rounded shadow-sm 
                d-flex justify-content-between">
      <% if @post.documents.any? %>
        <div>
          <%= link_to '#',
                      class: 'btn btn-primary',
                      data: {
                        action: 'toggle-attachments#toggleAttachments' + ' ' + 
                                 'toggle-attachments#toggleMessage',
                        target: 'toggle-attachments.message'
                      } do
          %>
            Show <%= pluralize(@post.documents.count, 'Attachment') %>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= link_to 'Edit',
                    edit_cms_post_path(@post),
                    class: "btn btn-outline-primary"
        %>
        <%= link_to 'Manage attachments',
          cms_post_documents_path(@post),
          class: "btn btn-outline-primary"
        %>
        <%= link_to 'Back', cms_posts_path, class: "btn btn-outline-dark" %>
      </div>
    </div>
  </div>

  <div class="post__attachments" data-target="toggle-attachments.attachments">
    <div class="row d-flex justify-content-between justify-content-lg-start">
      <%= render @post.documents %>
    </div>
  </div>
</div>
