<% if @notice.draft? %>
  <%= render partial: 'cms_sidebar_notices', locals: { status: 'draft' }%>
<% else %>
  <%= render partial: 'cms_sidebar_notices', locals: { status: @notice.notice_state }%>
<% end %>

<div class="tender-notice-edit row">
  <div class="pod col-12 rounded shadow-sm">
    <h1>Edit Notice</h1>

    <div class="my-3">
      <%= render 'form', notice: @notice %>
    </div>

    <%= link_to 'Show', tms_notice_path(@notice), class: 'btn btn-sm btn-outline-primary' %>
    <%= link_to 'Back', tms_notices_path, class: 'btn btn-sm btn-outline-dark' %>
  </div>
</div>
