<% if @notice.draft? %>
  <%= render partial: 'cms_sidebar_notices', locals: { status: 'draft' }%>
<% else %>
  <%= render partial: 'cms_sidebar_notices', locals: { status: @notice.notice_state }%>
<% end %>

<div class="tender-notice row">
  <div class="tender-notice__content pod col-12 rounded shadow-sm">
    <h3>
      <%= @notice.title %>
    </h3>
    <p>
      <strong>Reference Token:</strong> <%= @notice.reference_token %><br />
      <% if @notice.opening_on.present? %>
        <strong>Opening On:</strong> <%= @notice.opening_on.strftime("%d %B %y") %><br />
      <% end %>
      <% if @notice.closing_on.present? %>
        <strong>Closing On:</strong> <%= @notice.closing_on.strftime("%d %B %y") %><br />
      <% end %>
    </p>

    <% if @notice.description.present? %>
      <div class="mt-5">
        <h6>
          Desciption
        </h6>
        <p><%= simple_format(@notice.description) %></p>
      </div>
    <% end %>

    <% if @notice.specification.present? %>
      <div class="mt-5">
        <h6>
          Specification
        </h6>
        <p><%= simple_format(@notice.specification) %></p>
      </div>
    <% end %>

    <% if @notice.terms_and_conditions.present? %>
      <div class="mt-5">
        <h6>
          Terms and Conditions
        </h6>
        <p><%= simple_format(@notice.terms_and_conditions) %></p>
      </div>
    <% end %>

    <% if @notice.document.present? %>
      <div class="mt-5">
        <%= link_to rails_blob_path(@notice.document.attachment, disposition: 'attachment') do %>
          Download <%= @notice.document.attachment.filename.to_s %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="btn-group">
    <%= link_to 'Edit', edit_tms_notice_path(@notice), class: 'btn btn-outline-primary' %>
    <%= link_to 'Manage attachment', tender_notice_document_path(@notice), class: 'btn btn-outline-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-outline-primary' %>
  </div>
</div>
