<% if @notice.draft? %>
  <%= render partial: 'cms_sidebar_notices', locals: { status: 'draft' }%>
<% else %>
  <%= render partial: 'cms_sidebar_notices', locals: { status: @notice.notice_state }%>
<% end %>

<div class="tms-notice row">
  <% if policy(@notice).publish? %>
    <div class="tender_notice__control mb-4 col-12">
      <%= button_to 'Publish',
        publish_tms_notice_path(@notice),
        method: :patch,
        params: { notice: { publish_notice: true } },
        class: 'btn btn-success'
      %>
    </div>
  <% end %>

  <% if @notice.errors.any? %>
    <div id="error_explanation" class="col-12 mb-3">
      <h6>Tender Notice publication unsuccessful for following reason(s):</h6>
      <% @notice.errors.full_messages.each do |message| %>
        <div class="is-invalid"></div>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="tms-notice__content pod col-12 rounded shadow-sm">
    <h3>
      <%= @notice.title %>
    </h3>
    <p>
      <strong>Reference Token:</strong> <%= @notice.reference_token %><br />
      <% if @notice.opening_on.present? %>
        <strong>Opening On:</strong> <%= @notice.opening_on.strftime("%d %B %y") %><br />
      <% end %>
      <% if @notice.closing_on.present? %>
        <strong>Closing On:</strong> <%= @notice.closing_on.strftime("%d %B %y") %><br />
      <% end %>
    </p>

    <% if @notice.description.present? %>
      <div class="mt-5">
        <h6>
          Desciption
        </h6>
        <p><%= simple_format(@notice.description) %></p>
      </div>
    <% end %>

    <% if @notice.specification.present? %>
      <div class="mt-5">
        <h6>
          Specification
        </h6>
        <p><%= simple_format(@notice.specification) %></p>
      </div>
    <% end %>

    <% if @notice.terms_and_conditions.present? %>
      <div class="mt-5">
        <h6>
          Terms and Conditions
        </h6>
        <p><%= simple_format(@notice.terms_and_conditions) %></p>
      </div>
    <% end %>

    <% if @notice.document.present? %>
      <div class="mt-5">
        <%= link_to rails_blob_path(@notice.document.attachment, disposition: 'attachment') do %>
          Download <%= @notice.document.attachment.filename.to_s %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="btn-group">
    <% if policy(@notice).edit? %>
      <%= link_to 'Edit', edit_tms_notice_path(@notice), class: 'btn btn-outline-primary' %>
    <% end %>
    <%= link_to 'Manage attachment', tender_notice_document_path(@notice), class: 'btn btn-outline-primary' %>
    <%= link_to 'Back', :back, class: 'btn btn-outline-primary' %>
  </div>
</div>
