<div class="tender-notice row">
  <div class="tender-notice__content pod col-12 rounded shadow-sm">
    <h1 class="text-center mb-5">Tender Notice</h1>

    <h3><%= @notice.title %></h3>

    <p>
      <strong>Reference Token:</strong> <%= @notice.reference_token %><br />
      <% if @notice.opening_on.present? %>
        <strong>Opening On:</strong> <%= @notice.opening_on.strftime("%d %B %y %I:%M %p") %><br />
      <% end %>
      <% if @notice.closing_on.present? %>
        <strong>Closing On:</strong> <%= @notice.closing_on.strftime("%d %B %y %I:%M %p") %><br />
      <% end %>
    </p>

    <% if @notice.description.present? %>
      <div class="mt-5">
        <strong>Desciption</strong>
        <%= simple_format(@notice.description) %>
      </div>
    <% end %>

    <% if @notice.specification.present? %>
      <div class="mt-5">
        <strong>Specification</strong>
        <%= simple_format(@notice.specification) %>
      </div>
    <% end %>

    <% if @notice.terms_and_conditions.present? %>
      <div class="mt-5">
        <strong>Terms and Conditions</strong>
        <%= simple_format(@notice.terms_and_conditions) %>
      </div>
    <% end %>

    <% if @notice.document.present? %>
      <div class="mt-5">
        <%= link_to rails_blob_path(@notice.document.attachment, disposition: 'attachment') do %>
          Download <%= @notice.document.attachment.filename.to_s %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @notice.current? %>
    <div class="tender-notice__controls">
      <%= link_to 'Submit your proposal',
                  new_tender_notice_proposal_path(@notice),
                  class: 'btn btn-primary'
      %>
    </div>
  <% end %>

  <% if @notice.archived? %>
    <div id="tender-notice-selected-proposal" class="tender-proposal pod col-12 rounded shadow-sm">
      <h3 class="mb-4">Selected Proposal</h3>

      <h5 class="mt-4">Vendor Name</h5>
      <%= @notice.proposals.selected.first.name %>

      <h5 class="mt-4">Vendor Email</h5>
      <%= @notice.proposals.selected.first.email %>

      <h5 class="mt-4">Reason(s) for selecting the vendor</h5>
      <%= simple_format @notice.selection_reason %>
    </div>
  <% end %>

  <% if @notice.under_review? || @notice.archived? %>
    <div class="tender-notice-proposals pod col-12 rounded shadow-sm">
      <h3 class="mb-4">Proposals submitted</h3>

      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Vendor Name</th>
            <th scope="col">Vendor Email</th>
            <th scope="col">Proposal Document</th>
          </tr>
        </thead>
        <tbody>
          <% @notice.proposals.each do |proposal| %>
            <tr class="tender-notice-proposal">
              <td><%= proposal.name %></td>
              <td><%= proposal.email %></td>
              <td>
                <%= link_to rails_blob_path(
                  proposal.document.attachment,
                  disposition: 'attachment'
                ) do %>
                  Download
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
