<nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <span>LB AOA<sup class="text-warning">beta</sup></span>
  <% end %>
  <button 
     class="navbar-toggler"
     type="button"
     data-toggle="collapse"
     data-target="#navbarAOA"
     aria-controls="navbarAOA"
     aria-expanded="false"
     aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarAOA">
    <ul class="navbar-nav ml-auto text-right">
      <li class="nav-item"
        data-target="nav-item-activator.navItem"
        data-nav-item='home'
      >
        <%= link_to "Home", page_path('home'), class: 'nav-link' %>
      </li>
      <% if member_signed_in? %>
        <li class="nav-item"
          data-target="nav-item-activator.navItem"
          data-nav-item='search'
        >
          <%= link_to 'Search', search_posts_path, class: 'nav-link' %>
        </li>
      <% end %>
      <li class="nav-item"
        data-target="nav-item-activator.navItem"
        data-nav-item='posts'
      >
        <%= link_to 'Posts', posts_path, class: 'nav-link' %>
      </li>
      <li class="nav-item"
        data-target="nav-item-activator.navItem"
        data-nav-item='tender notices'
      >
        <%= link_to 'Tender Notices', tender_notices_path, class: 'nav-link' %>
      </li>
      <li class="nav-item"
        data-target="nav-item-activator.navItem"
        data-nav-item='about us'
      >
        <%= link_to "About Us", page_path('lbaoa'), class: 'nav-link' %>
      </li>

      <li class="nav-item dropdown ml-lg-2"
        data-target="nav-item-activator.navItem"
        data-nav-item='member'
      >
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="memberDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <% if member_signed_in? %>
            <span><%= current_member.email %></span>
          <% else %>
            <span>Member</span>
          <% end %>

          <%= svg_icon_person %>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right text-right"
          aria-labelledby="memberDropdown"
        >
          <% if member_signed_in? %>
            <%= link_to 'Account', edit_member_registration_path, class: 'dropdown-item' %>
            <%= link_to 'Logout', destroy_member_session_path, method: :delete, class: 'dropdown-item' %>
          <% else %>
            <%= link_to 'Log In', new_member_session_path, class: 'dropdown-item' %>
            <%= link_to 'Sign Up', new_member_registration_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>
