<div class="row">
  <div class="pod col rounded shadow">
    <h1>Categories</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th colspan="2" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.title %></td>
            <td><%= category.description %></td>
            <td><%= link_to 'Show', cms_category_path(category) %></td>
            <td><%= link_to 'Edit', edit_cms_category_path(category) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Category', new_cms_category_path, class: "btn btn-outline-primary" %>
  </div>
</div>
