<%= render partial: 'cms_sidebar_categories', locals: { status: nil } %>

<div class="row">
  <div class="pod col rounded shadow">
    <table class="categories__table table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td class="text-capitalize">
              <%= link_to category.title, cms_category_path(category) %>
            </td>
            <td><%= category.description %></td>
            <td>
              <%= link_to 'Edit',
                          edit_cms_category_path(category),
                          class: 'btn btn-sm btn-secondary'
              %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
