<div class="podlet rounded shadow d-flex flex-column
            justify-content-between card__attachment mr-lg-2">
  <div>
    <% if document.attachment.variable? %>
      <%= link_to(
            image_tag(
              document.attachment.variant(resize_to_limit: [400, 400]),
              class: 'img-fluid'
            ),
            url_for(document.attachment),
            target: "_blank",
            rel: "noopener noreferrer"
          )
      %>
    <% elsif document.attachment.previewable? %>
      <%= link_to(
            image_tag(
              document.attachment.preview(resize_to_limit: [400, 400]),
              class: 'img-fluid'
            ),
            url_for(
              document.attachment
            ),
            target: "_blank",
            rel: "noopener noreferrer"
          )
      %>
    <% end %>
    <p><%= document.annotation %></p>
  </div>
  <div class="btn-group">
    <%= link_to 'Download Attachment',
      rails_blob_path(document.attachment, disposition: 'attachment'),
      class: 'btn btn-sm btn-primary'
    %>
    <%= link_to 'Delete Attachment',
      cms_post_document_path(document.documentable, document),
      method: :delete,
      class: 'btn btn-sm btn-danger',
      data: { confirm: 'Are you sure?' }
    %>
  </div>
</div>
