<p id="notice"><%= notice %></p>

<h1>Departments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.title %></td>
        <td><%= department.description %></td>
        <td><%= link_to 'Show', cms_department_path(department) %></td>
        <td><%= link_to 'Edit', edit_cms_department_path(department) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_cms_department_path %>
