<div class="row">
  <div class="pod col rounded shadow">
    <h1>Departments</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th colspan="2" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @departments.each do |department| %>
          <tr>
            <td><%= department.title %></td>
            <td><%= department.description %></td>
            <td><%= link_to 'Show', cms_department_path(department) %></td>
            <td><%= link_to 'Edit', edit_cms_department_path(department) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Department', new_cms_department_path, class: "btn btn-outline-primary" %>
  </div>
</div>
