<p id="notice"><%= notice %></p>

<div class="row">
  <div class="pod col rounded shadow">
    <p>
    <strong>Title:</strong>
    <%= @department.title %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= @department.description %>
    </p>

    <%= link_to 'Edit', edit_cms_department_path(@department), class: "btn btn-outline-primary" %>
    <%= link_to 'Back', cms_departments_path, class: "btn btn-outline-dark" %>
  </div>
</div>
