<div class="posts row" data-target="nav-item-activator.item" data-item="posts">
  <% @posts.each do |post| %>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 px-0 mb-4">
      <div class="p-4 mr-3 h-100 podlet rounded shadow-sm d-flex flex-column
                  justify-content-between">
        <div class="post__info">
          <div class="mb-3">
            <div class="text-capitalize badge badge-info">
              <%= search_post_link(
                post.category.title,
                'category',
                'text-white text-decoration-none'
              )%>
            </div>
            <div class="post__info_published_at font-weight-light">
              <%= post.published_at.strftime("%d %B %Y") %>
            </div>
          </div>
          <h3 class="post__title">
            <%= post.title %>
          </h3>
          <p class="text-muted post__snippet">
            <%= truncate(strip_tags(post.content.to_s), length: 100) %>
          </p>
        </div>
        <div>
          <%= link_to 'Read more', post %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
