<div data-controller='toggle-attachments'>
  <div class="post row">
    <div class="post__header pod col-12 rounded shadow-sm pb-0">
      <h1 class="post__header-title mb-4"><%= @post.title %></h1>
      <p>
      <strong>Category</strong>: <%= @post.category.title %><br>
      <strong>Published:</strong> <%= @post.published_at.strftime("%d %B %Y") %>
      </p>
    </div>

    <div class="post__content pod col-12 rounded shadow-sm">
      <%= @post.content %>
    </div>

    <div class="post__controls pod col-12 rounded shadow-sm 
                d-flex justify-content-between">
      <% if @post.documents.any? %>
        <div>
          <%= link_to '#',
                      class: 'btn btn-primary',
                      data: {
                        action: 'toggle-attachments#toggleAttachments' + ' ' + 
                                 'toggle-attachments#toggleMessage',
                        target: 'toggle-attachments.message'
                      } do
          %>
            Show <%= pluralize(@post.documents.count, 'Attachment') %>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= link_to 'Back', :back, class: "btn btn-outline-dark" %>
      </div>
    </div>
  </div>

  <% if @post.documents.any? %>
    <div class="post__attachments" data-target="toggle-attachments.attachments">
      <div class="row d-flex justify-content-between justify-content-lg-start">
        <%= render partial: 'cms/documents/document',
                   collection: @post.documents
        %>
      </div>
    </div>
  <% end %>
</div>
