<div data-controller='toggle-attachments' data-target="nav-item-activator.item" data-item="posts">
  <div class="post row">
    <div class="post__header pod col-12 rounded shadow-sm pb-0">
      <h1 class="post__header-title mb-4"><%= @post.title %></h1>
      <div class="my-3">
        <span class="text-capitalize badge badge-info">
          <%= search_post_link(
            @post.category.title,
            'category',
            'text-white text-decoration-none'
          )%>
        </span>
        &#8226;
        <span class="post__info_published_at">
          <%= @post.published_at.strftime("%d %B %Y") %>
        </span>
      </div>
    </div>

    <div class="post__content pod col-12 rounded shadow-sm">
      <%= @post.content %>

      <p class="post__content-tags mt-5 mb-0">
        <% @post.tags.each do |tag| %>
          <mark class="mr-1 text-primary">
            #<%= search_post_link(tag.name, 'tag_list') %>
          </mark>
        <% end %>
      </p>
    </div>

    <div class="post__controls pod col-12 rounded shadow-sm 
                d-flex justify-content-between">
      <% if @documents %>
        <div>
          <%= link_to '#',
                      class: 'btn btn-primary',
                      data: {
                        action: 'toggle-attachments#toggleAttachments' + ' ' + 
                                 'toggle-attachments#toggleMessage',
                        target: 'toggle-attachments.message'
                      } do
          %>
            Show <%= pluralize(@documents.size, 'Attachment') %>
          <% end %>
        </div>
      <% end %>
      <div>
        <%= link_to 'Back', :back, class: "btn btn-outline-dark" %>
      </div>
    </div>
  </div>

  <% if @documents %>
    <div class="post__attachments" data-target="toggle-attachments.attachments">
      <div class="row d-flex justify-content-between justify-content-lg-start">
        <%= render partial: 'documents/document',
                   collection: @documents
        %>
      </div>
    </div>
  <% end %>
</div>
