<% content_for :cms_sidebar do %>
  <div class="row mx-lg-1 card sticky-top">
    <div class="card-header bg-card-dashboard active">
      <%= link_to 'Dashboard', cms_dashboard_path %>
    </div>

    <div class="list-group list-group-flush">
      <%= link_to 'Posts',
        '#collapse-posts',
        data: { toggle: 'collapse' },
        class: 'list-group-item list-group-item-action list-group-item-secondary'
      %>
      <div class="list-group list-group-flush collapse" id="collapse-posts">
        <%= link_to 'Drafts',
          drafts_cms_posts_path,
          class: "list-group-item list-group-item-action"
        %>
        <%= link_to 'Published',
          published_cms_posts_path,
          class: "list-group-item list-group-item-action"
        %>
      </div>

      <%= link_to(
        'Categories',
        cms_categories_path,
        class: 'list-group-item list-group-item-action list-group-item-secondary'
      )%>

      <%= link_to 'Members',
        '#collapse-members',
        data: { toggle: 'collapse' },
        class: 'list-group-item list-group-item-action list-group-item-secondary'
      %>
      <div class="list-group list-group-flush collapse" id="collapse-members">
        <%= link_to 'Search',
          search_members_path,
          class: "list-group-item list-group-item-action"
        %>
        <%= link_to 'Approved',
          approved_members_path,
          class: "list-group-item list-group-item-action"
        %>
        <%= link_to 'Pending',
          pending_members_path,
          class: "list-group-item list-group-item-action"
        %>
        <%= link_to 'Flagged',
          flagged_members_path,
          class: "list-group-item list-group-item-action"
        %>
        <%= link_to 'Archived',
          archived_members_path,
          class: "list-group-item list-group-item-action"
        %>
        <%= link_to 'Bogus',
          bogus_members_path,
          class: "list-group-item list-group-item-action"
        %>
      </div>
    </div>
  </div>
<% end %>
