<div class='row'>
  <div class="col-lg-6 col-12">
    <div class="pod rounded shadow-sm">
      <h2>Forgot your password?</h2>

      <%= form_for(
        resource,
        as: resource_name,
        url: password_path(resource_name),
        html: { method: :post },
        data: { controller: 'form-validation-error' }
      ) do |f| %>
        <%= render "account/members/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field(
            :email,
            autofocus: true,
            autocomplete: "email",
            class: 'form-control',
            data: {
              target: 'form-validation-error.attribute',
              form_attribute: 'email'
            }
          ) %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions",
            class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

    <hr>

    <div class="podlet rounded shadow-sm p-3">
      <%= render "account/members/shared/links" %>
    </div>
  </div>
</div>
