<div class="row">
  <div class="col-12">
    <div class="pod shadow-sm rounded text-center">
      <h3 class="mb-5">
        Board members of Lotus Boulevard Apartment Owners Association
      </h3>

      <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'sunil-singh.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Sunil Kumar Singh</h5>
              <h6>President</h6>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'gita-nath.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Gita Nath</h5>
              <h6>Vice President</h6>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'manoj-thakral.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Manoj Thakral</h5>
              <h6>Vice President</h6>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'rohit-sanglikar.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Rohit Prakash Sanglikar</h5>
              <h6>Secretary</h6>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'vijay-gadroo.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Vijay Kumar Gadroo</h5>
              <h6>Treasurer</h6>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'manali-singh-kanyal.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Manali Singh Kanyal</h5>
              <h6>Joint Secretary</h6>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'abhinay-singh.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Abhinay Singh</h5>
              <h6>Joint Secretary</h6>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'puneet-sharma.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Puneet Sharma</h5>
              <h6>Joint Treasurer</h6>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <div class="mb-1 p-3">
            <%= image_pack_tag 'ved-mehta.jpg', class: 'img-fluid img-thumbnail mx-auto d-block' %>
            <div class="text-center mt-3">
              <h5>Ved Prakash Mehta</h5>
              <h6>Joint Treasurer</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

